#post-2 .entry-header {
display: none;
}

.entry-header {
background: url("/assets/images/bubble-bg.jpg");	
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-bottom: 3%;
  padding: 20px 0%;
}

.entry-header:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(3, 36, 78, 0.8);
z-index: 2;
}

.entry-header h1 {
	color: #fff;
text-align: left;
position: relative;
z-index: 9;
}

